.ListThem {
    padding: 3.5%;
}

.Article-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: left;
    width: 90%;
    height: 250px;
    text-overflow: clip;
    padding: 20px;
    padding-bottom: 20px;
    margin: 2vh;
}

.footer {
    float: right;
    padding: 10%;
}

.Thumbinal {
    float: left;
    width: 30%;
    height: 85%;
}

.Title {
    float: left;
    padding-left: 5%;
    padding-top: 1%;
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
}

.Date {
    align-self: inherit;
    padding-left: 35%;
    padding-top: 4%;
}

.Excerpt {
    float: left;
    padding-left: 5%;
    width: 50%;
}